$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tirt-light: #2998ff;
$color-tirt-dark: #5643fa;

$color-gray-dark: #777;
$color-gray-white-2: #eee;
$color-gray-white-1: #f7f7f7;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;

$shadow-color: #00000033;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$font-primary: 1.6rem;
