.composition {
	position: relative;

	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem $shadow-color;
		// border-radius: 0.2rem;
		position: absolute;
		transition: all 0.2s;
		z-index: 1;

		@include respond(tap-port) {
			float: left;
			position: relative;
			width: 33.333333%;
			box-shadow: 0 1.5rem 3rem $shadow-color;
		}

		&:hover {
			z-index: 2;
			transform: scale(1.05) translateY(0.5rem);
			box-shadow: 0 2.5rem 4rem $shadow-color;
			outline: 1.5rem solid $color_primary;
			outline-offset: 2rem;
			// border: 1rem solid transparent;
		}

		& &--p1 {
			left: 0;
			top: -2rem;
			@include respond(tap-port) {
				top: 0;
				transform: scale(1.2);
			}
		}

		&--p2 {
			right: 0;
			top: 2rem;
			@include respond(tap-port) {
				top: -1rem;
				transform: scale(1.3);
				z-index: +2;
			}
		}

		&--p3 {
			left: 20%;
			top: 10rem;
			@include respond(tap-port) {
				left: 0;
				top: 0;
				transform: scale(1.2);
			}
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
}
