.u-center-text {
	text-align: center !important;
}

.u-margin-bot-big {
	margin-bottom: 8rem !important;
	@include respond(tap-port) {
		margin-bottom: 5rem !important;
	}
}

.u-margin-bot-medium {
	margin-bottom: 4rem !important;
	@include respond(tap-port) {
		margin-bottom: 3rem !important;
	}
}

.u-margin-bot-small {
	margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
	margin-top: 8rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;
}
